body {
   margin: 0;
}


ul {
   background-color: black;
   margin-top: 0;
   margin-left: -30px;
}

li {
   background-color: black;
   display: inline-block;
   padding: 14px;
}

ul li a {
   color: white;
   text-decoration: none;
}


.content {
   background-color: #F1F1F1;
   box-shadow: 2px 2px 2px gray;
   margin-top: -20px;
   margin-bottom: 20px;
   padding: 20px;
   text-align: justify;
   column-fill: balance;
   column-width: 300px;
   column-rule: 2px solid rgb(95, 42, 42);
}

p {
   margin-top: 0;
}

.heading{
   column-span: all;
}



.footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px 0;
}

.footer h2 {
   margin-top: -10px;
}






